/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 

.main-menu ul li a {padding-right: 5px;}
}



/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mobile-menu{display: block;}
    .main-menu{display: none;} .footer {
    text-align: center;
}

}



/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .mobile-menu{display: block;}
    .main-menu{display: none;} 
    .footer {
    text-align: center;
}
.donate-box p span {
    font-size: 10px;}
    .mobile-menu {
    top: 15px;
}
}




/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}